.jumbotron.jumbotron-fluid.bg-white.text-center
  .container
    %p.display-3 File Cabinet
    %p.lead Your life's work. Organized, always.
    = link_to "Enter", new_user_registration_path, class: "btn btn-primary btn-lg"

.jumbotron.jumbotron-fluid.bg-dark.text-white.text-center
  .container
    %p.lead At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

.jumbotron.jumbotron-fluid.bg-white.text-center
  .container
    %p.lead.display-4 Go Ahead!
    %br
    = link_to "Join Now", new_user_registration_path, class: "btn btn-primary btn-lg"

= render 'shared/footer'
